#novel header[aria-labelledby="novel-title"],
#novel #novel-description {
  margin-bottom: 1.5rem;
}

#novel #novel-description > i::before,
#novel #novel-description > i::after {
  content: '"';
  display: inline-block;
}

#novel #novel-title {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 620px) {
  #novel #novel-title {
    font-size: 2rem;
  }

  #novel #novel-description {
    margin-bottom: 3rem;
  }
}

#novel #wildcard {
  margin-bottom: 1.25rem;
}

#novel #wildcard * {
line-height:1.4}

#novel #wildcard > figure {
  float: left;

  aspect-ratio: 1 / 1.3;
  max-width: 35%;
  min-width: 35%;
  width: 100%;
}

#novel #wildcard > *:not(figure) {
  padding-left: calc(35% + 0.75rem);
}

#novel #wildcard > header {
  margin-bottom: 0.75rem;
}

#novel #wildcard > header > h3 {
  border-bottom: 2px dashed 
var(--color-grey);
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  padding-bottom: calc(0.5rem + 2px);
}

@media screen and (min-width: 620px) {
  #novel #wildcard > *:not(figure) {
    padding-left: calc(35% + 1.5rem);
  }

  #novel #wildcard > header {
    margin-bottom: 1rem;
  }

  #novel #wildcard > header > h3 {

    font-size: 1rem;
  }
}

#novel #wildcard > ol {
  list-style: none;
}

#novel #wildcard > ol > li:first-of-type {
  margin-bottom: 0.25rem;
}

#novel #wildcard > ol > li {
  border: 2px solid;
  line-height: 1.2;
  border-radius: 5px;
  padding: 2px 4px;
}

#novel [aria-labelledby="novel-stats"] {
  margin-bottom: 2rem;
}

@media screen and (min-width: 620px) {
  #novel [aria-labelledby="novel-stats"] {
    margin-bottom: 3rem;
    margin-top: -9.75rem;
    padding-left: calc(35% + 1.5rem);
  }
}

#novel #novel-stats {
  margin-bottom: 1rem;
}

#novel #novel-stats > span:nth-child(2) {
  font-weight: 400;
}

#novel #novel-stats ~ ul {
  list-style: none;

  gap: 4px;
}


#novel #novel-stats ~ ul *{
line-height:1.2;
}
#novel #novel-stats ~ ul li {
  text-align: center;

  border: 2px solid;
  border-radius: 5px;
  padding: 4px;
}


#novel #novel-stats ~ ul li strong {
  border-bottom: 2px solid var(--color-grey);

  margin-bottom: 4px;
  padding-bottom: 2px;
}

#novel #novel-stats ~ ul li > *:not(strong) {
  display: block;

  font-size: 0.8rem;
}

#novel .synopsis {
  display: block;

  margin-bottom: 1rem;
}

#novel .synopsis + [aria-labelledby="novel-genres-tags"] {
  margin-top: 2rem;
}

@media screen and (min-width: 620px) {
  #novel .synopsis + [aria-labelledby="novel-genres-tags"] {
    margin-top: 2.75rem;
  }
}

#novel [aria-labelledby="novel-genres-tags"] {
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 620px) {
  #novel [aria-labelledby="novel-genres-tags"] {
    margin-bottom: 3.25rem;
  }
}

#novel [aria-labelledby="novel-genres-tags"] > header {
  margin-bottom: 0;
}

#novel #novel-genres-tags::before {
  content: "";
  display: block;
  position: absolute;

  border-right: 2px solid var(--color-grey);

  height: 40%;
  top: 22.5%;
  width: calc(100% / 2);
  z-index: -1;
}

#novel #novel-genres-tags {
  position: relative;

  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

#novel #novel-genres-tags > .indicator {
  width: calc(100% / 2);
}

#novel #novel-genres-tags > button:last-of-type.active ~ .indicator {
  margin-left: calc(100% / 2);
}

#novel #novel-genres-tags > button:last-of-type:hover ~ .indicator {
  margin-left: calc(100% / 2);
}

#novel #novel-genres-tags > button:first-of-type:hover ~ .indicator {
  margin-left: 0;
}

#novel [aria-labelledby="novel-genres-tags"] #tabpanel1-1 [class^="material"] {
  margin-right: 0;
}
#novel .s4[aria-labelledby="novel-authors"] {
  margin-bottom: 1.75rem;
}

#novel [aria-labelledby="novel-authors"] ol:not(:last-of-type) {
  margin-bottom: 0.75rem;
}

#novel #stats-coo .context {
  font-weight: normal;
  margin-left: auto;
  font-size: 0.8rem;
}

@media screen and (min-width: 620px) {
  #novel #stats-coo .context {
    font-weight: normal;
    margin-left: auto;
    font-size: 1rem;
  }
}

#novel #novel-preview {
  margin-left: auto;
  font-size: 1rem;
}

#novel #reading-section::before {
  content: "";
  display: block;
  position: absolute;

  border-left: 1px solid var(--color-grey);
  border-right: 1px solid var(--color-grey);

  height: 40%;
  margin-left: calc((100% / 3) - 0.5px);
  top: 30%;
  width: calc(100% / 3);
  z-index: -1;
}

#novel #reading-section > .indicator {
  width: calc(100% / 3);
}

#novel #reading-section > button:last-of-type.active ~ .indicator {
  margin-left: calc(100% / 3 * 2);
}

#novel #reading-section > button:nth-of-type(2).active ~ .indicator {
  margin-left: calc(100% / 3);
}

#novel #reading-section > button:last-of-type:hover ~ .indicator {
  margin-left: calc(100% / 3 * 2);
}

#novel #reading-section > button:nth-of-type(2):hover ~ .indicator {
  margin-left: calc(100% / 3);
}

#novel #reading-section > button:first-of-type:hover ~ .indicator {
  margin-left: 0;
}

#novel [aria-labelledby="reading-section"] table {
  width: 100%;
  border-collapse: collapse;
}

#novel [aria-labelledby="reading-section"] > header {
  margin-bottom: 1rem;
}

[aria-labelledby="reading-section"] table > tbody td:not(:first-of-type) {
  text-align: center;

  width: 25%;
}

#novel [aria-labelledby="reading-section"] caption button {
  border-bottom: 2px solid;
  border-top: 2px solid;
  padding: 4px 2px;
}

@media screen and (min-width: 620px) {
  #novel [aria-labelledby="reading-section"] caption button {
    padding: 6px 2px;
  }
}

#novel [aria-labelledby="reading-section"] tbody,
#novel [aria-labelledby="reading-section"] thead {
  position: relative;
}

#novel [aria-labelledby="reading-section"] th:nth-child(2)::after,
#novel [aria-labelledby="reading-section"] td:nth-child(2)::after {
  content: "";
  position: absolute;
  display: block;

  border-left: 2px solid;
  border-right: 2px solid;

  height: 60%;
  top: 20%;
  width: 100%;
}

#novel [aria-labelledby="reading-section"] th,
#novel [aria-labelledby="reading-section"] td {
  position: relative;
  padding: 4px 2px;
  border-bottom: 2px dashed;
}

@media screen and (min-width: 620px) {
  #novel [aria-labelledby="reading-section"] th,
  #novel [aria-labelledby="reading-section"] td {
    padding: 6px 2px;
  }
}

#novel [aria-labelledby="reading-section"] th {
  border-bottom: 1px solid;
}

#novel [aria-labelledby="reading-section"] td {
  border-bottom: 2px dashed;
}

#novel
  [aria-labelledby="reading-section"]
  > section
  button
  > span:last-of-type {
  margin-left: auto;
}

#novel [aria-labelledby="reading-section"] > section button {
  font-weight: 600;
  width: 100%;
}

#novel [aria-labelledby="reading-section"] td:first-of-type > span {
  align-items: center;
  display: flex;
}

#novel [aria-labelledby="reading-section"] .fi {
  margin-right: 4px;
}

#novel [aria-labelledby="reading-section"] thead:not(.show) ~ tbody {
  display: none;
}

#novel [aria-labelledby="reading-section"] table .material-symbols-outlined {
  margin-right: 4px;
  vertical-align: baseline;
}
