:root {
  --color-white: #f4f4f4;
  --color-accent: #7baaf7;
  --color-grey: #747474;

  --color-gold: gold;
  --color-bronze: #cd7f32;
  --color-silver: silver;
}

#novel * {
  box-sizing: border-box;

  margin: 0;
  outline: 0;
  padding: 0;
}

html {
  color-scheme: dark light;
  scroll-behavior: smooth;
}

#novel a {
  color: var(--color-accent);
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

#novel a:hover {
  color: var(--color-white);
}

#novel button {
  background: none;
  border: none;
  cursor: pointer;
}

#novel button:not(:hover):not(.active) {
  color: var(--color-accent);
}

#novel button.btn-1 {
  border: 2px solid var(--color-white);
  color: var(--color-white);
  border-radius: 5px;
  height: fit-content;
  padding: 4px;
}

#novel button.btn-1:not(:hover):not(.active) {
  border: 2px solid var(--color-accent);
  color: var(--color-accent);
}

#novel figure#novel-cover {
  border-radius: 5px;
}

#novel figure#novel-cover > img {
  border-radius: 5px;
  object-fit: cover;
  width: 100%;
}

#novel [class*="fx-"],
#novel .fx {
  display: flex;
}

#novel .fx.column {
  flex-direction: column;
}

#novel [class*="fx-l"] {
  flex-wrap: wrap;
  list-style: none;

  font-size: 0.8rem;
  gap: 4px;
}

@media screen and (min-width: 620px) {
  #novel [class*="fx-l"] {
    font-size: 1rem;
  }
}

#novel .fx-l4 {
  column-gap: 0.5rem;
  row-gap: 0.65rem;
}

@media screen and (min-width: 620px) {
  #novel .fx-l4 {
    column-gap: 0.75rem;
    row-gap: 1rem;
  }
}

#novel .fx-l1 > li,
#novel .fx-l2 > li > a {
  display: inline-block;

  border: 2px solid;

  border-radius: 5px;
  padding: 2px 4px;
}

#novel .fx-l3 > li {
  align-items: center;
  display: flex;

  border: 2px solid;

  border-radius: 5px;
  gap: 4px;
  padding: 2px 4px;
}

#novel .fx-l4 > li {
  position: relative;
}

#novel .fx-l4 > li > a {
  align-items: center;
  display: flex;

  padding: 4px;
}

#novel .fx-l1 .context,
#novel .fx-l3 .context {
  color: var(--color-grey);

  font-size: 0.7rem;
  font-weight: 600;
}

#novel .fx-l4 > li .context {
  position: absolute;

  color: var(--color-grey);

  bottom: -8px;
  right: 0;
  font-size: 0.6rem;
  font-weight: 600;
}

@media screen and (min-width: 620px) {
  #novel .fx-l1 .context,
  #novel .fx-l3 .context {
    font-size: 0.85rem;
  }

  #novel .fx-l4 > li .context {
    bottom: -12px;
    font-size: 0.75rem;
  }
}

#novel .fx-l4 > li [class^="material"] {
  margin-right: 4px;
}

/* GRID */
#novel [class*="gd"],
#novel .gd {
  display: grid;
}

#novel .gd-double {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

#novel .gd-triple {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

#novel .ai-center {
  align-items: center;
}

#novel .between {
  justify-content: space-between;
}

#novel .clr-both {
  clear: both;
}

#novel .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#novel .passive {
  color: var(--color-grey);
}

#novel .gold {
  color: var(--color-gold);
}

#novel .bronze {
  color: var(--color-bronze);
}

#novel .silver {
  color: var(--color-silver);
}
#novel [role="tablist"] > header {
  position: relative;
}

#novel [role="tablist"] > header button {
  padding: 6px 2px;

  text-align: center;
}

#novel [role="tablist"] > header button:not(.active) {
  border-bottom: 2px dashed;
}

#novel .indicator {
  position: absolute;
  display: block;

  border-bottom: 2px solid;
  transition: margin 0.25s ease-in-out;

  top: 0;
}

#novel .item:not(.show) {
  display: none;
}

#novel .fi {
  display: inline-block;

  max-width: 1.25rem;
}

#novel .material-symbols-outlined {
  display: inline-block;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 1.25rem;
  line-height: 1.2;
  vertical-align: middle;
}

article#novel {
  position: relative;
  font-family: "Lato";
  font-size: 0.9rem;
  margin: 0 auto;
  max-width: 720px;
  width: 98%;
}

@media screen and (min-width: 620px) {
  article#novel {
    font-size: 1rem;
  }
}

#novel .s3:not(:last-child) {
  margin-bottom: 2.5rem;
}

#novel .s3 h3 {
  font-size: 1.4rem;
  margin-bottom: 1.75rem;
}

#novel .s3 > h3 .btn-1 {
  margin-left: auto;
}

@media screen and (min-width: 620px) {
  #novel .s3:not(:last-child) {
    margin-bottom: 3rem;
  }

  #novel .s3 h3 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}

/* S4 */
#novel .s4:not(:last-child) {
  margin-bottom: 1.25rem;
}

#novel .s4 > header,
#novel .s4 > h4 {
  border-bottom: 2px dashed var(--color-grey);

  font-size: 1rem;
  margin-bottom: 0.75rem;
  padding-bottom: 0.5rem;
}

#novel .s4 h4::before {
  content: "・";
}

#novel .s4 > header .btn-1 {
  margin-left: auto;
}

@media screen and (min-width: 620px) {
  #novel .s4:not(:last-child) {
    margin-bottom: 1.75rem;
  }

  #novel .s4 h4 {
    font-size: 1.2rem;
  }
}
